@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* Mode Jour: Fond Sable Chaud (plus teinté que le précédent) */
  --background: #F7F3EB; 
  /* Texte: Marron très foncé (presque noir mais plus chaud) */
  --foreground: #2A1F1D;
}

.dark {
  /* Mode Nuit: Noir profond */
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}
